.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:0;
  height: 0.6rem;
  background-color:  #1FC193;
  font-size:12rem;
 }

.forgotPassword {
     min-height: 100vh; 
   
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .forgotPasswordForm {
    background-color: white;
    box-shadow: -1rem 0 3rem rgb(209, 208, 208);
    width: 45%;
    height: 80%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgotPasswordInputs {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
  }
  
  @media screen and (max-width: 600px) {
    .forgotPasswordForm {
      width: 100%;
    }
  
    .forgotPasswordInputs {
      padding: 4vw 8vw;
      margin: 2vmax;
      font: 100 1.2rem "Roboto", sans-serif;
      margin: 4vw;
    }
  }